<meta property="og:image" content="{{ page.homeImage }}"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:url" content="{{ page.url }}"/>
<meta property="og:site_name" content="Mateus Jabour Website"/>
<meta property="og:type" content="{{ page.type }}"/>
<meta property="og:description" content="{{ page.summary }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/jpg" href="/assets/img/profile-pic.jpg"/>
<meta name="description" content="{{ page.summary }}"/>