.home-posts__list
    margin: 0 auto
    padding: 0
    list-style-type: none

    &-item
        @extend %clearfix
        position: relative
        padding: 30px 20px
        border-bottom: 1px solid black
        padding-bottom: 20px

        @media #{$tablet-breakpoint}

        img
            display: block
            height: auto
            margin: 20px auto 20px

            @media #{$tablet-breakpoint}
                float: left
                width: 250px
                height: 250px

    &-item-text
        width: 100%

        @media #{$tablet-breakpoint}
            float: right
            width: 70%
            margin-top: 20px
        h3

            @media #{$tablet-breakpoint}
                font-size: 20pt
        span
            color: #000
            font-size: 12px
            display: block
            margin: 10px 0

            @media #{$tablet-breakpoint}
                font-size: 12px
                font-weight: bold
        p
            margin: 15px 0 25px 0
            font-size: 16px
            color: black

            @media #{$tablet-breakpoint}
                margin: 15px 0
                width: 80%

        & .read-more-button
            display: block
            width: 100%
            padding: 10px 20px
            text-align: center
            background-color: #000
            text-decoration: none
            color: white
            transition: background-color 0.5s

            @media #{$tablet-breakpoint}
                display: inline
                width: auto
                position: absolute
                top: 261px
                right: 100px
