.social-media
    float: right
    padding-left: 0
    margin: -7px 0 0
    
    &__link
        display: inline-block
       
        a
            @extend %removing-text-anchor
            background-image: $sprite
            width: 32px
            height: 32px
            display: block
            transition: opacity 0.5s ease-in
            
@each $i in $social-media
    .social-media__link--#{$i} a
        +sprite($sprite, $i, false)
        margin-left: 5px