.main-header
    @extend %clearfix
    height: 60px
    background-color: #000
    padding-top: 16px
    position: relative
    
    @media #{$tablet-breakpoint}
        height: 160px

    &__title
        float: left
        color: white
        font-family: 'Anton', sans-serif
        font-size: 25px
        margin: 0 0 0 20px

        @media #{$mobile-breakpoint}
            font-size: 25px
            margin: 0 0 0 20px

        @media #{$tablet-breakpoint}
            font-size: 45px
            margin: 10px 0 0 20px
