<!DOCTYPE html>
<html>
<head>
    {% for author in site.data.author %}
    <title>{{ author.name }} - {{ page.title }}</title>
    {% endfor %}

    {% include head.html %}
    <meta property="og:url" content="http://mateusjabour.github.io/about"/>
</head>
<body>

    {% include header.html %}

    <main class="container">
        <section class="{{ page.type }}">
            <article class="{{ page.type }}__text">
                {{ content }}
            </article>
        </section>
    </main>

    {% include footer.html %}
    <script src="/assets/js/scripts.js"></script>

</body>
</html>
