<!DOCTYPE html>
<html>
<head>
    {% for author in site.data.author %}
    <title>{{ author.name }}</title>
    {% endfor %}
    
    {% include head.html %}
    <meta name="description" content="Mateus Jabour website's that talks about him and have posts about computer science and programe language."/>
</head>
<body>

    {% include header.html %}

    <main class="home-body container">

        {{ content }}

        {% include aside.html %}

    </main>

    {% include footer.html %}
    <script src="/assets/js/scripts.js"></script>

</body>
</html>
